checks:tests:
  after_script:
  - (cd qrexec-lib; gcov *.c || :)
  - (cd gptfixer; gcov *.c || :)
  - ./ci/codecov-wrapper --gcov
  before_script:
  - sudo dnf install -y python3-pip 'pkgconfig(icu-uc)' sequoia-sqv
  - export PATH="$PATH:$HOME/.local/bin"
  - pip3 install --quiet -r ci/requirements.txt
  - git config --global --add safe.directory "$PWD"
  script:
  - python3 -m coverage run -m unittest discover -v imgconverter -p test.py
  - export CFLAGS="--coverage -DCOVERAGE" LDFLAGS=--coverage
  - make -C qrexec-lib check NO_REBUILD_TABLE=1
  - gptfixer/test.sh
  stage: checks
  tags:
  - docker
include:
- file: /r4.2/gitlab-base.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.2/gitlab-host.yml
  project: QubesOS/qubes-continuous-integration
- file: /r4.2/gitlab-vm.yml
  project: QubesOS/qubes-continuous-integration
