[Unit]
Description=Qubes memory information reporter
ConditionPathExists=/run/qubes-service/meminfo-writer
Before=systemd-user-sessions.service

[Service]
Type=forking
ExecStart=/usr/sbin/meminfo-writer 30000 100000 /run/meminfo-writer.pid
PIDFile=/run/meminfo-writer.pid

[Install]
WantedBy=multi-user.target
