[Unit]
Description=Qubes memory information reporter
After=qubes-core.service qubes-qmemman.service
ConditionPathExists=/var/run/qubes/qmemman.sock

[Service]
Type=simple
ExecStart=/usr/sbin/meminfo-writer 30000 100000
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
