
########################################
## <summary>
##	Communicate with meminfo-writer
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed access
## </summary>
## </param>
interface(`qubes_meminfo_writer_signal',`
	gen_require(`
		type qubes_meminfo_writer_t, qubes_meminfo_writer_var_run_t;
	')`
	allow '$1` qubes_meminfo_writer_t:process signal;
	allow '$1` qubes_meminfo_writer_var_run_t:file 'read_file_perms;
')
